.App {
  text-align: center;
  background-color: #a2b7e0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  font-family: 'Jost', sans-serif;
  font-size: 46px;
  margin: 24px 0 12px;
}

.page-heading {
  font-family: 'Jost', sans-serif;
  font-size: 26px;
  margin: 0 0 48px 0;
}